
<!-- Reservation Modal-->

<!-- Hero Section-->
<section class="text-white p-0" id="hero">
  <div class="swiper hero-slider"></div>
  <a class="scroll-down d-none d-sm-block" href="#about"></a>
  <!-- social icons menu-->
</section>

<!-- About Section-->
<section class="bg-light">
  <div class="container text-center">
    <header class="mb-5">
      <h2 class="handwriting-text">Usuarios</h2>
    </header>
  </div>
<!-- End About Section-->

  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Registrar Usuario</h5>
        <form (ngSubmit)="newUserEntry()" [formGroup]="userForm">
          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">Nombre:</label>
            <div class="col-sm-10"> <input type="text" class="form-control" formControlName="nombre"></div>
          </div>
          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">Apellido:</label>
            <div class="col-sm-10"> <input type="text" class="form-control" formControlName="apellido">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">Curso:</label>
            <div class="col-sm-10"> <input type="text" class="form-control" formControlName="curso">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">Rol:</label>
            <div class="col-sm-10"> <input type="text" class="form-control" formControlName="rol">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">Correo Usuario:</label>
            <div class="col-sm-10"> <input type="text" class="form-control" formControlName="correo_usuario">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">Teléfono Usuario:</label>
            <div class="col-sm-10"> <input type="text" class="form-control" formControlName="telefono_usuario">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">Grado Usuario:</label>
            <div class="col-sm-10"> <input type="text" class="form-control" formControlName="grado_usuario">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">Correo Contacto:</label>
            <div class="col-sm-10"> <input type="text" class="form-control" formControlName="correo_contacto">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">Teléfono Contacto:</label>
            <div class="col-sm-10"> <input type="text" class="form-control" formControlName="telefono_contacto">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">Grado Contacto:</label>
            <div class="col-sm-10"> <input type="text" class="form-control" formControlName="grado_contacto">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">Observaciones:</label>
            <div class="col-sm-10"> <input type="text" class="form-control" formControlName="observaciones">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">Contraseña:</label>
            <div class="col-sm-10"> <input type="text" class="form-control" formControlName="contrasena">
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Usuarios registrados</h5>
          <table class="table datatable">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Curso</th>
                <th scope="col">Rol</th>
                <th scope="col">Correo Usuario</th>
                <th scope="col">Teléfono Usuario</th>
                <th scope="col">Grado Usuario</th>
                <th scope="col">Correo Contacto</th>
                <th scope="col">Teléfono Contacto</th>
                <th scope="col">Grado Contacto</th>
                <th scope="col">Observaciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of userList;">
                <th scope="row">1</th>
                <td>{{item.nombre}}</td>
                <td>{{item.apellido}}</td>
                <td>{{item.curso}}</td>
                <td>{{item.rol}}</td>
                <td>{{item.correo_usuario}}</td>
                <td>{{item.telefono_usuario}}</td>
                <td>{{item.grado_usuario}}</td>
                <td>{{item.correo_contacto}}</td>
                <td>{{item.telefono_contacto}}</td>
                <td>{{item.grado_contacto}}</td>
                <td>{{item.observaciones}}</td>
                <td>{{item.contrasena}}</td>
                <td>
                  <div class="example-button-container">
                    <button mat-icon-button color="accent" aria-label="Actualizar Actividad"
                      (click)="toggleEditUser(item._id)">
                      Editar
                    </button>
                  </div>
                </td>
                <td>
                  <div class="example-button-container">
                    <button mat-icon-button color="accent" aria-label="Eliminar actividad"
                      (click)="deleteUserEntry(item._id)">
                      Eliminar
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<div *ngIf="editableUser">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Registrar Usuario</h5>
        <form (ngSubmit)="updateUserEntry()" [formGroup]="userForm">
          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">Nombre:</label>
            <div class="col-sm-10"> <input type="text" class="form-control" formControlName="nombre"></div>
          </div>
          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">Apellido:</label>
            <div class="col-sm-10"> <input type="text" class="form-control" formControlName="apellido">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">Curso:</label>
            <div class="col-sm-10"> <input type="text" class="form-control" formControlName="curso">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">Rol:</label>
            <div class="col-sm-10"> <input type="text" class="form-control" formControlName="rol">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">Correo Usuario:</label>
            <div class="col-sm-10"> <input type="text" class="form-control" formControlName="correo_usuario">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">Teléfono Usuario:</label>
            <div class="col-sm-10"> <input type="text" class="form-control" formControlName="telefono_usuario">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">Grado Usuario:</label>
            <div class="col-sm-10"> <input type="text" class="form-control" formControlName="grado_usuario">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">Correo Contacto:</label>
            <div class="col-sm-10"> <input type="text" class="form-control" formControlName="correo_contacto">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">Teléfono Contacto:</label>
            <div class="col-sm-10"> <input type="text" class="form-control" formControlName="telefono_contacto">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">Grado Contacto:</label>
            <div class="col-sm-10"> <input type="text" class="form-control" formControlName="grado_contacto">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">Observaciones:</label>
            <div class="col-sm-10"> <input type="text" class="form-control" formControlName="observaciones">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">Contraseña:</label>
            <div class="col-sm-10"> <input type="text" class="form-control" formControlName="contrasena">
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
      </div>
    </div>
  </div>
</div>


<button class="btn btn-primary" id="scrollTopBtn" type="button">
  <i class="fas fa-angle-up text-white"></i>
</button>
