
<!-- Reservation Modal-->

<!-- Hero Section-->
<section class="text-white p-0" id="hero">
  <div class="swiper hero-slider"></div>
  <a class="scroll-down d-none d-sm-block" href="#about"></a>
  <!-- social icons menu-->
</section>

<!-- About Section-->
<section class="bg-light">
  <div class="container text-center">
    <header class="mb-5">
      <h2 class="handwriting-text">Actividades</h2>
    </header>
  </div>
<!-- End About Section-->

  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Registrar Actividad</h5>
        <form (ngSubmit)="newTaskEntry()" [formGroup]="taskForm">
          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">Código:</label>
            <div class="col-sm-10"> <input type="text" class="form-control" formControlName="codigo"></div>
          </div>
          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">Título:</label>
            <div class="col-sm-10"> <input type="text" class="form-control" formControlName="titulo">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">Fecha Inicial:</label>
            <div class="col-sm-10"> <input type="date" class="form-control" formControlName="fecha_inicial">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">Fecha Final:</label>
            <div class="col-sm-10"> <input type="date" class="form-control" formControlName="fecha_final">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">Hora Inicial:</label>
            <div class="col-sm-10"> <input type="text" class="form-control" formControlName="hora_inicial">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">Hora Final:</label>
            <div class="col-sm-10"> <input type="text" class="form-control" formControlName="hora_final">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">Descripción:</label>
            <div class="col-sm-10"> <input type="text" class="form-control" formControlName="descripcion">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">Estado de Avance:</label>
            <div class="col-sm-10"> <input type="text" class="form-control" formControlName="estado_avance">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">Prioridad:</label>
            <div class="col-sm-10"> <input type="text" class="form-control" formControlName="prioridad">
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <h5 class="card-title">Actividades registradas</h5>
      <div class="col-md-12">
        <table class="table datatable">
          <thead>
            <tr>
              <th scope="col">Código</th>
              <th scope="col">Título</th>
              <th scope="col">Fecha Inicial</th>
              <th scope="col">Fecha Final</th>
              <th scope="col">Hora Inicial</th>
              <th scope="col">Hora Final</th>
              <th scope="col">Descripción</th>
              <th scope="col">Estado de Avance</th>
              <th scope="col">Prioridad</th>
              <th scope="col">Actualizar</th>
              <th scope="col">Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of taskList;">
              <td>{{item.codigo}}</td>
              <td>{{item.titulo}}</td>
              <td>{{item.fecha_inicial}}</td>
              <td>{{item.fecha_final}}</td>
              <td>{{item.hora_inicial}}</td>
              <td>{{item.hora_final}}</td>
              <td>{{item.descripcion}}</td>
              <td>{{item.estado_avance}}</td>
              <td>{{item.prioridad}}</td>
              <td>
                <div class="example-button-container">
                  <button mat-icon-button color="accent" aria-label="Actualizar Actividad"
                    (click)="toggleEditTask(item._id)">
                    Editar
                  </button>
                </div>
              </td>
              <td>
                <div class="example-button-container">
                  <button mat-icon-button color="accent" aria-label="Eliminar actividad"
                    (click)="deleteTaskEntry(item._id)">
                    Eliminar
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<div *ngIf="editableTask">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Actualizar Actividad</h5>
        <form (ngSubmit)="updateTaskEntry()" [formGroup]="taskForm">
          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">Código:</label>
            <div class="col-sm-10"><input type="text" class="form-control" formControlName="codigo"></div>
          </div>
          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">Título:</label>
            <div class="col-sm-10"><input type="text" class="form-control" formControlName="titulo">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">Fecha Inicial:</label>
            <div class="col-sm-10"><input type="date" class="form-control" formControlName="fecha_inicial">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">Fecha Final:</label>
            <div class="col-sm-10"><input type="date" class="form-control" formControlName="fecha_final">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">Hora Inicial:</label>
            <div class="col-sm-10"><input type="text" class="form-control" formControlName="hora_inicial">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">Hora Final:</label>
            <div class="col-sm-10"><input type="text" class="form-control" formControlName="hora_final">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">Descripción:</label>
            <div class="col-sm-10"><input type="text" class="form-control" formControlName="descripcion">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">Estado de Avance:</label>
            <div class="col-sm-10"><input type="text" class="form-control" formControlName="estado_avance">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">Prioridad:</label>
            <div class="col-sm-10"><input type="text" class="form-control" formControlName="prioridad">
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
      </div>
    </div>
  </div>
</div>
<button class="btn btn-primary" id="scrollTopBtn" type="button">
  <i class="fas fa-angle-up text-white"></i>
</button>
