<!-- Navbar-->
<nav
  class="navbar navbar-expand-lg navbar-light bg-white fixed-top py-lg-0"
  id="navbar"
>
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/img/logo.png" alt="Italiano" width="100"
    /></a>
    <button
      class="navbar-toggler p-0 shadow-0 border-0 text-black"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="fw-bold mb-0 text-uppercase">Menu</span
      ><span class="navbar-toggler-icon ms-2"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto align-items-lg-center">
          <li class="nav-item">
            <a class="nav-link active" href="#hero">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Usuarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Tareas</a>
          </li>
          <li class="nav-item ms-lg-3">
            <button
              class="btn btn-primary d-none d-lg-inline-block"
              type="button"
            >
              Salir
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<!-- End Navbar-->
<!-- Reservation Modal-->

<!-- Hero Section-->
<section class="text-white p-0" id="hero">
  <div class="swiper hero-slider"></div>
  <a class="scroll-down d-none d-sm-block" href="#about"></a>
  <!-- social icons menu-->
</section>

<!-- About Section-->
<section class="bg-light">
  <div class="container text-center">
    <header class="mb-5">
      <h2 class="handwriting-text">Tareas</h2>
    </header>
  </div>
</section>
<!-- End About Section-->

<section>aqui va la tabla</section>

<button class="btn btn-primary" id="scrollTopBtn" type="button">
  <i class="fas fa-angle-up text-white"></i>
</button>
<!-- Footer-->
<footer class="footer text-gray-700">
  <div class="container">
    <div class="row gy-4 mb-5">
      <div class="col-md-4">
        <img
          class="mb-4"
          src="assets/img/logo-footer.f2ebd21b.png"
          alt="italiano"
          width="100"
        />
        <p class="text-sm">
          Binnacle una plataforma para la creación y manejo de actividades..
        </p>
      </div>
      <div class="col-md-4">
        <h6 class="h5 text-white text-uppercase mb-4 underline">Contact</h6>
        <ul class="list-unstyled text-gray-700">
          <li class="mb-2">
            <i class="fas fa-map-marker-alt text-primary me-2 fa-fw"></i>Bogotá,
            Colombia
          </li>
          <li class="mb-2">
            <a class="text-reset" href="mailto:youremail@Company.com"
              ><i class="fas fa-envelope text-primary me-2 fa-fw"></i
              >binnacle@gmail.com</a
            >
          </li>
          <li class="mb-2">
            <i class="fas fa-phone text-primary me-2 fa-fw"></i>**** **** ***
          </li>
          <li><i class="fas fa-fax text-primary me-2 fa-fw"></i>***-***-***</li>
        </ul>
      </div>
    </div>
    <ul class="social list-inline text-center mb-0 text-white">
      <li class="list-inline-item mx-2">
        <a class="text-reset" href="#!" target="_blank" title="Facebook"
          ><i class="fab fa-facebook-f"></i
        ></a>
      </li>
      <li class="list-inline-item mx-2">
        <a class="text-reset" href="#!" target="_blank" title="Twitter"
          ><i class="fab fa-twitter"></i
        ></a>
      </li>
      <li class="list-inline-item mx-2">
        <a class="text-reset" href="#!" target="_blank" title="Instagram"
          ><i class="fab fa-instagram"></i
        ></a>
      </li>
      <li class="list-inline-item mx-2">
        <a class="text-reset" href="#!" target="_blank" title="Pinterest"
          ><i class="fab fa-pinterest"></i
        ></a>
      </li>
      <li class="list-inline-item mx-2">
        <a class="text-reset" href="#!" target="_blank" title="Skype"
          ><i class="fab fa-skype"></i
        ></a>
      </li>
    </ul>
  </div>
</footer>
<div class="copyrights py-4 text-gray-700">
  <div class="container">
    <div class="row gy-3 text-center">
      <div class="col-md-5 text-lg-start">
        <ul class="list-inline mb-0 small">
          <li class="list-inline-item">
            <a class="text-reset" href="#!">Policy Privacy</a>
          </li>
          <li class="list-inline-item">
            <a class="text-reset" href="#!">Terms of Use</a>
          </li>
          <li class="list-inline-item">
            <a class="text-reset" href="#!">Contact</a>
          </li>
        </ul>
      </div>
      <div class="col-md-7 text-lg-end">
        <p class="mb-0 small">
          © 2022, Designed by
          <a href="#" target="_blank"
            >Camilo Mora, Dario Carrillo, Diana Niño</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
<!-- End Footer-->
