<section id="contact">
    <div class="position-absolute top-0 start-0 end-0 bottom-0" id="map"></div>
    <div class="container z-index-top">
      <div class="card shadow border-0">
        <div class="card-body p-lg-5">
          <header class="text-center mb-5">
            <h2 class="handwriting-text">Iniciar Sesión</h2>
          </header>
          <div class="row">
            <div class="col-lg-7 mx-auto">
              <form>
                <div class="row gy-4">
                  <div class="col-lg-12">
                    <i class="fas fa-user-tie me-2 fa-fw"></i>
                    <label class="form-label" for="email"> Email</label>
                    <input
                      class="form-control shadow-0 px-0 border-0 border-bottom"
                      id="email"
                      type="email"
                      name="email"
                      required=""
                      placeholder="user@gmail.com"
                    />
                  </div>
  
                  <div class="col-lg-12">
                    <label class="form-label" for="email"> Contraseña</label>
                    <input
                      class="form-control shadow-0 px-0 border-0 border-bottom"
                      id="password"
                      type="password"
                      name="password"
                      required=""
                    />
                  </div>
  
                  <div class="col-lg-12 text-center">
                    <button class="btn btn-primary" type="submit">
                      Iniciar Sesión
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section-->
  <button class="btn btn-primary" id="scrollTopBtn" type="button">
    <i class="fas fa-angle-up text-white"></i>
  </button>
  